<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>map_kurumi__down_001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 11}, {116, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{288, 648}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__down_002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {116, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{432, 0}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__down_003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 11}, {116, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{288, 810}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__down_004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {116, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 648}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__down_angle_001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {120, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{144, 0}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__down_angle_002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {120, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{144, 810}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__down_angle_003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {118, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{288, 486}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__down_angle_004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {120, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 162}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__idle_001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {122, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{720, 162}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__idle_002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {120, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__idle_003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {124, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{144, 486}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__idle_004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {120, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{288, 0}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__side_001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 12}, {122, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{864, 162}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__side_002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 6}, {114, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{288, 324}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__side_003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 12}, {120, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{576, 0}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__side_004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 6}, {114, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{144, 162}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__up_001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 10}, {108, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 810}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__up_002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 4}, {104, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{288, 162}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__up_003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 10}, {108, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{576, 324}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__up_004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 4}, {104, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{144, 324}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__up_angle_001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 13}, {130, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 324}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__up_angle_002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 8}, {108, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 486}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__up_angle_003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 14}, {108, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{432, 324}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__up_angle_004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 8}, {108, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{432, 162}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__yay_001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {122, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{576, 162}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__yay_002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 6}, {122, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{144, 648}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__yay_003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {130, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{864, 0}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_kurumi__yay_004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 2}, {124, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 160}</string>
			<key>spriteSourceSize</key>
			<string>{142, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{720, 0}, {142, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>KurumiMap</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>kurumi_map</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>kurumi_map</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>